.wrap {
    position: relative;
    display: flex;
    justify-content: center;
    height: 80vh;

}
.ftr {
    position: absolute;
    bottom: 25px;
}
.mail {
    color: var(--a-445-ed, #A445ED);

}