body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue' sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  font-family: 'Inconsolata', monospace;
  font-family: 'Inter', sans-serif;
  font-family: 'Lora', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  width: 736px;
  margin: 0 auto;
}
ul, p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}
a {
text-decoration: underline;
color: black;
}